@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');
@import 'tailwindcss';

@theme{
    --font-montserrat: 'Montserrat', sans-serif;
    --color-primary-red: #FF0000;
}

html, body {
  min-height: 100%;
  background: #1A1A1A;
}

.hero-shadow{
  box-shadow: 2px 30px 120px 70px #FF0000;
}